<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=14.1.20.618, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
  </configSections>
  <Telerik.Reporting>
    <Cache provider="" />
    <cache provider="" />
    <assemblyReferences>
      <add name="TelerikServiceReports" version="14.1.20.513" />
    </assemblyReferences>
    <SessionState provider="" />
    <restReportService>
      <storage provider="" />
      <reportResolver provider="" />
    </restReportService>
    <appData path="" />
  </Telerik.Reporting>
  <connectionStrings>
    <add name="TelerikServiceReports.Properties.Settings.cwwebapp_itdConnectionString" connectionString="Data Source=ITD-CW02.ITD.local;Initial Catalog=cwwebapp_itd;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TelerikServiceReports.Properties.Settings.cwwebappitd" connectionString="Data Source=ITD-CW02.ITD.local;Initial Catalog=cwwebapp_itd;Integrated Security=True" providerName="System.Data.EntityClient" />
    <add name="TelerikServiceReports.Properties.Settings.Appointment" connectionString="Data Source=64.41.86.25;Initial Catalog=Appointment;User ID=Appointment;Password=0griswold" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>